* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin: 0;
    padding-bottom: 16px;
}

#pageWrapper {
    background-color:  #eeeae4 ;
    padding: 16px;
}

.full-page {
    min-height: 100vh;
}