body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

fieldset {
    border: 0;
    padding: 0;
}

fieldset div {
    margin-bottom: 10px;
}

.dropdown {
    margin: 0;
    background-color: cyan;
    display: inline-block;
    margin-right: 10px;
}

label {
    font-weight: 600;
}

fieldset input {
    width: 200px;
}

button {
    text-transform: uppercase;
    width: 200px;
    background-color: green;
    color: white;
    border: 0;

}

.checkbox {
    margin: 0;
    padding: 0;
}