/* header, nav, aside, footer, article {
    background: #659494;
    border-radius: 5px;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    padding: 30px;
} */