.image-apple {
  background: url("images/apple.png") no-repeat;
}

.image-pear {
  background: url("images/pear.png") no-repeat;
}

.image-orange {
  background: url("images/orange.png") no-repeat;
}

.image-kiwi {
  background: url("images/kiwi.png") no-repeat;
}

.image-pineapple {
  background: url("images/pineapple.png") no-repeat;
}

.image-melon {
  background: url("images/melon.png") no-repeat;
}

.image-strawberry {
  background: url("images/strawberry.png") no-repeat;
}
