body, button, input, select, textarea {
    color: #fff;
}

pre {
    background-color: #111;
}

abbr,
acronym {
    border-bottom: 1px dotted #999;
}
/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
body {
    background-color: #000;
}

hr {
    background-color: #333333;

}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
    color: #add8e6;
}

a:visited {
    color: #b19cd9;
}

a:hover, 
a:focus,
a:active {
    color: #4169e1;
}

.content-area {
    background-color: #000;
}