* {
  margin: 0;
  padding: 0;
}

article {
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  background: #DDD;
  border-bottom: 1px solid #000;
}

article:nth-child(odd) {
  background: #fff;
}

h1 {
  font-size: 24px;
  margin: 10px 0;
  color: #000;
}

h2 {
  font-size: 20px;
  margin: 10px 0;
  color: #000;
}

p {
  margin: 10px 0;
  font-size: 16px;
}

p.primary {
  color: #000;
}

p.secondary {
  color: #0000FF;
}

ul li {
  margin: 0 10px 0 20px;
  font-size: 16px;
  color: #FF0000;
}

ul li:nth-child(even) {
  color: #0000FF;
}
